.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/__pycache__/**
**/backend/app/db/chroma_db/**
**/backend/app/db/sqlite.db
**/backend/venv/**
**/backend/.env
src/test/**